# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Flask instance folder
instance/

# Flask cache and logs
*.log
*.pot
*.pyc
*.pyo
*.pyd

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# pipenv
Pipfile.lock

# Pyre type checker
.pyre/

# Build artifacts
build/
dist/
*.egg-info/

# SQLite database
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store
